.slotButton {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 80px;
    height: 80px;
    background-image: url("project://database/Assets/3rdParty/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/Sprite%20sheet%20for%20Basic%20Pack.png?fileID=-2129137182&guid=fcd7fe7527fd76b4dae4dde781f87150&type=3#Sprite sheet for Basic Pack_0");
}

.slotButton:active {
    background-image: url("project://database/Assets/3rdParty/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/Sprite%20sheet%20for%20Basic%20Pack.png?fileID=21327563&guid=fcd7fe7527fd76b4dae4dde781f87150&type=3#Sprite sheet for Basic Pack_1");
}
