#CustomDropbox Label {
    width: 224px;
    padding-right: 0;
    padding-left: 0;
    -unity-text-align: middle-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#CustomDropbox VisualElement {
}
