.YNBox--Default {
    flex-grow: 0;
    width: 800px;
    height: 500px;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    background-color: rgb(255, 169, 169);
    font-size: 50px;
}

.YNBox--Hide {
    display: none;
}
