.inventory-root {
    width: 870px;
    height: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: rgb(202, 155, 166);
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.inventory-row {
    flex-grow: 0;
    height: 80px;
    width: 100%;
    flex-direction: row;
}

.slot-spacer {
    width: 40px;
    padding-right: 10px;
}

.slot-container {
    flex-grow: 1;
    flex-direction: row;
    width: 800px;
}

.inventory-slot {
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-width: 1px;
}

.CloseButton {
    position: absolute;
    align-self: flex-end;
    right: 65px;
    width: 50px;
    height: 50px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    translate: 130% -120%;
    background-image: url("project://database/Assets/3rdParty/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/Sprite%20sheet%20for%20Basic%20Pack.png?fileID=-1981906178&guid=fcd7fe7527fd76b4dae4dde781f87150&type=3#Sprite sheet for Basic Pack_25");
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    background-color: rgba(188, 188, 188, 0);
}

.CloseButton:active {
    background-image: url("project://database/Assets/3rdParty/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/Sprite%20sheet%20for%20Basic%20Pack.png?fileID=1511921531&guid=fcd7fe7527fd76b4dae4dde781f87150&type=3#Sprite sheet for Basic Pack_26");
}

.HotSlotPointer {
    flex-grow: 1;
    width: 30px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 10px;
    background-image: none;
    height: 30px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.HotSlotPointer--Activated {
    background-image: url("project://database/Assets/3rdParty/Sprout%20Lands%20-%20UI%20Pack%20-%20Basic%20pack/Sprite%20sheets/Sprite%20sheet%20for%20Basic%20Pack.png?fileID=57820642&guid=fcd7fe7527fd76b4dae4dde781f87150&type=3#Sprite sheet for Basic Pack_5");
}
