.shop-msgbox__center-container {
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.shop-msgbox__arrow-button {
    width: 40px;
    height: 40px;
    background-color: rgba(188, 188, 188, 0);
    border-width: 0;
}

.shop-msgbox__action-button {
    margin: 0 15px;
    padding: 0;
    width: 300px;
    height: 100px;
    background-image: url("project://database/Assets/Art/Sprites/01.UI/UI_Tile03.png?fileID=21300000&guid=452902406e317744b835363e2e73ddd1&type=3#UI_Tile03");
}
