#unity-content-container {
    align-items: center;
}

#unity-low-button {
    -unity-background-image-tint-color: rgba(0, 0, 0, 0);
    display: flex;
    background-image: url("project://database/Assets/Art/Sprites/01.UI/UI_Tile01.png?fileID=21300000&guid=f71c8f459a18ed645bdc23972e6728f9&type=3#UI_Tile01");
    background-color: rgb(255, 202, 121);
    border-left-color: rgb(132, 52, 8);
    border-right-color: rgb(132, 52, 8);
    border-top-color: rgb(132, 52, 8);
    border-bottom-color: rgb(132, 52, 8);
}

#unity-high-button {
    -unity-background-image-tint-color: rgba(0, 0, 0, 0);
    display: flex;
    background-image: url("project://database/Assets/Art/Sprites/01.UI/UI_Tile01.png?fileID=21300000&guid=f71c8f459a18ed645bdc23972e6728f9&type=3#UI_Tile01");
    background-color: rgb(255, 202, 121);
    border-left-color: rgb(132, 52, 8);
    border-right-color: rgb(132, 52, 8);
    border-top-color: rgb(132, 52, 8);
    border-bottom-color: rgb(132, 52, 8);
}

#unity-dragger {
    background-color: rgb(255, 187, 83);
}

#unity-tracker {
    background-color: rgb(224, 224, 224);
}
